<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title>Profile</title>
		<link rel="stylesheet" type="text/css" href="static/cssfiles/style3.css">
	  </head>
      <br>
      <body>
  <nav class = "navbar">
    <a href = "static/ProfilePage.html" class = "logo"> JUMPING JAYBIRD  </a>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="static/aboutus.html">About Us</a></li>
    <li><a href="/game">Game</a></li>
    <li><a href="/standings">Standings</a></li>
    <li><a href="/forum">Forum</a></li>
    </ul>
  </nav>

<div class="contentProfile">
    <h1>Here is your profile</h1>

    {{#if user}}
  <table style="width:100%">
    <tr>
      <th>User</th>
      <th>Score</th>
      <th>Email</th>
      <th>Password</th>  
    </tr>
    {{#each scores}}
        <tr>
            <td>{{this.playerName}}</td>
            <td>{{this.score}}</td>
            <td>{{this.playerEmail}}</td>
            <td>{{this.playerPassword}}</td>
        </tr>
    {{/each}}
  </table>
<br>
	<form action="/logout" method="POST" style="text-align: center;">
    	<button type="submit" >Logout</button>
	</form>
	{{else}}
		<a href="/register">register</a> <a href="/login">login</a>
	{{/if}}
</div>
    </ul>
</body>
</html>
